.tile-wrapper {
  width: 200px;
  height: 300px;
  border: 1px solid white;
  .main-title {
  }
  .time-of-day-wrapper {
    .time-title {
    }
    .time-of-day-section {
    }
  }

  .no-data-message {
  }
}
