.App {
  background: linear-gradient(180deg, #347fb9 50%, #38aecc 100%);
  background-repeat: no-repeat, repeat;
  background-size: cover;
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  header {
    .title {
      margin-block-start: 0;
      margin-block-end: 0;
      margin-inline-start: 50px;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 20px;
    }
  }
  .not-found {
    margin: 0 auto;
    font-family: sans-serif;
    margin-top: 20px;
  }
}
